.footer {
  color: #EEF1ED;
  background-color: rgba(40, 41, 45, .85);
}
#bg-black {
  background-color: rgba(40, 41, 45, .85);
}
.card {
  background-color: rgba(40, 41, 45, .85);
  border-left: #EEF1ED;
  border-right: #EEF1ED;

}

