<div class="footer row text-center">
  <div class="col">
    <h3>Technologies</h3>
    <table class="table table-striped table-dark table-bordered table-hover">
      <tbody>

      <tr>
        <td>Java</td>
        <td>Javascript</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>TypeScript</td>
      </tr>
      <tr>
        <td>JPQL</td>
        <td>SQL</td>
      </tr>
      <tr>
        <td>AWS</td>
        <td>EC2</td>
      </tr>
      <tr>
        <td>Spring Boot</td>
        <td>Spring Data JPA</td>
      </tr>
      <tr>
        <td>REST</td>
        <td>JSON</td>
      </tr>
      <tr>
        <td>AJAX</td>
        <td>XHR</td>
      </tr>
      <tr>
        <td>Bootstrap</td>
        <td>CSS</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>DOM</td>
      </tr>
      <tr>
        <td>J-unit</td>
        <td>TDD</td>
      </tr>
      <tr>
        <td>Hibernate</td>
        <td>JPA</td>
      </tr>
      <tr>
        <td>Eclipse</td>
        <td>Visual Studio Code</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Mission</h3>
    <p>
      Bilingual Buddies mission is to connect as many people as possible with
      native speakers to expand inclusivness and grow community. We are all in this together.
      Growing and expanding relationships will not only make you live longer but live happier.
    </p>
    <table class="table table-striped table-dark table-bordered table-hover">
      <thead>
        <td><h3>Contributors</h3></td>
      </thead>
      <tbody>
        <tr><td><a class="link-warning" href="https://github.com/amcmike3" target="_blank">Alex McMichael</a></td></tr>
        <tr><td><a class="link-warning" href="https://github.com/Clobera" target="_blank">Carlos Lobera</a></td></tr>
        <tr><td><a class="link-warning" href="https://github.com/lrbelany" target="_blank">Lowell Belany</a></td></tr>
        <tr><td><a class="link-warning" href="https://github.com/SamCassidy4" target="_blank">Sam Cassidy</a></td></tr>
      </tbody>
    </table>

  </div>
</div>
