.navbar {
  background-color: #f8f5e8;
}
nav > div > div > ul > li > a{
  color: #294232;

}
nav > div > div > a{
  color:  #294232;

}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #E34F15 !important;
}
.bg-white {
  background-color: #EEF1ED;
}

