.navbar {
}
nav > div > div > ul > li > a{
  color: #EEF1ED;

}

nav > div > div > a{
  color: #E34F15;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #E34F15 !important;
}
