.register {
  background-color: #28292D;
  color: #E34F15;
}
.orange {
  background-color: #E34F15;
  color: #28292D;
 }
.text-orange {
  color:#E34F15;
}
div > .register > .orange > form > input {
  background-color: gray;
  color: #EEF1ED;
}
div > .register > .orange > form > textarea {
  background-color: gray;
  color: #c8cec6;
}
input.custom-control-input {
    width: 25px;
    height: 25px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c8cec6;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c8cec6;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #c8cec6;
}
