<div class="teamsearch">
  <div *ngIf="!selected">
  <table class="table table-hover">
    <thead>
      <th>Name</th>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let team of teams">
        <td (click)="displayTeam(team)">{{ team.name }}</td>


      </tr>
    </tbody>
  </table>
  </div>
  <div *ngIf="selected">
    <h1>{{selected.name}}</h1>
    <img [src]="selected.imageUrl" alt="">
    <blockquote>{{selected.content}}</blockquote>
    <button class="btn btn-success" *ngIf="!joinedTeam()" (click)="joinTeam(selected)">Join Team</button>
    <button class="btn btn-danger" *ngIf="joinedTeam()" (click)="leaveTeam(selected)">Leave Team</button>






  </div>





</div>
