<div class="col text-center" id="home">
  <h1>What is BILIÑGUAL BUDDIES?</h1>
  <div class="row" >
    <h3>Learn by Chatting</h3>
    <br />
    <p>
      The best way to learn a language is to actually speak it! Bilingual
      Buddies connects you with native speakers to chat with for free. But this
      isn't your standard social app. The interface is packed with innovative
      tools to make it fun and effortless to connect and learn a new language.
      You can chat with individual members, you can get a sponsor and language
      mentor, or join meetups for a collaborative learning experience.
    </p>
    <h3>Resources</h3>
    <p>Who is better to show you a country and a language than a native?
      Find Resources that are helpful for any foreigner and get locals to give you the dos and do nots.
    </p>

    <h3>Search the World</h3>
    <br />
    <p>
      Search for language exchange partners by native language, city, and more.
      Whether it's across the world or across town, you'll instantly find
      suitable partners to begin a conversation with.
    </p>
    <h4>Meet native speakers of any language</h4>
    <p>
      Meet, Filter language matches and request to connect. Only connect with
      people you deem 'cool'
    </p>
    <h4>Chat with native speakers</h4>
    <br />
    <p>
      Chat, Once connected, you can chat unlimitedly and schedule as many
      meetings as you want!
    </p>
    <h4>Immerse into any language</h4>
    <br />
    <p>
      Immerse, Spend 30 minutes in your target language. Then, spend 30 minutes
      helping your partner immerse!
    </p>
  </div>
</div>
